<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69e366">  <td>21/11/05 11:53:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:Selenium.tests.LoginTestDataProviderExample@28f2a10f]">loginTest</td> 
  <td>main@1664576493</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>21/11/05 11:53:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:Selenium.tests.LoginTestDataProviderExample@28f2a10f]">loginTest</td> 
  <td>main@1664576493</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>21/11/05 11:53:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:Selenium.tests.LoginTestDataProviderExample@28f2a10f]">loginTest</td> 
  <td>main@1664576493</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>21/11/05 11:53:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:Selenium.tests.LoginTestDataProviderExample@28f2a10f]">loginTest</td> 
  <td>main@1664576493</td>   <td></td> </tr>
<tr bgcolor="66f1f5">  <td>21/11/05 11:53:54</td>   <td>-465</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:Selenium.tests.LoginTestDataProviderExample@28f2a10f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1664576493</td>   <td></td> </tr>
<tr bgcolor="66f1f5">  <td>21/11/05 11:53:54</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:Selenium.tests.LoginTestDataProviderExample@28f2a10f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
